In [20]:
import pandas as pd
import matplotlib as plt

In [21]:
# Have the change file name, no spaces!
filename = 'Rigs_by_State_012519.xlsx'

In [22]:
df = pd.read_excel(filename) # kinda a big df

In [23]:
xls = pd.ExcelFile(filename)
sheets = xls.sheet_names

In [24]:
type(sheets)

list

In [25]:
# getting rid of columns 
df = df.drop(columns=['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8', 'Unnamed: 10'])

In [29]:
df

,BAKER HUGHES,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9
0,ROTARY RIGS RUNNING - BY STATE,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
3,NaN,2019-01-04 00:00:00,2019-01-11 00:00:00,2019-01-18 00:00:00,2019-01-25 00:00:00,Jan Avg
4,ALABAMA-LAND,2,2,2,2,2
5,ALABAMA-INL WATER,0,0,0,0,0
6,ALABAMA-OFFSHORE,0,0,0,0,0
7,TOTAL ALABAMA,2,2,2,2,2
8,ALASKA-LAND,9,9,10,11,10
9,ALASKA-OFFSHORE,0,0,0,0,0
10,TOTAL ALASKA,9,9,10,11,10
11,ARIZONA,0,0,0,0,0
12,ARKANSAS,0,0,0,0,0
13,CALIFORNIA-LAND,10,10,7,6,8
14,CALIFORNIA-OFFSHORE,0,0,0,0,0
15,TOTAL CALIFORNIA,10,10,7,6,8
16,COLORADO,35,35,34,35,35
17,FLORIDA-LAND,0,0,0,0,0
18,FLORIDA-INL WATER,0,0,0,0,0
19,FLORIDA-OFFSHORE,0,0,0,0,0
20,TOTAL FLORIDA,0,0,0,0,0
21,GEORGIA,0,0,0,0,0
22,HAWAII,0,0,0,0,0
23,IDAHO,0,0,0,0,0
24,ILLINOIS,0,0,0,0,0
25,INDIANA,2,2,2,2,2
26,KANSAS,2,3,1,1,2
27,KENTUCKY,0,0,0,0,0
28,N LOUISIANA-LAND,33,35,36,36,35
29,S LOUISIANA-INL WATER,3,2,2,1,2
...,...,...,...,...,...,...
45,PENNSYLVANIA,47,49,48,47,48
46,S DAKOTA,0,0,0,0,0
47,TENNESSEE,0,0,0,0,0
48,TEXAS-OFFSHORE,1,1,1,0,1
49,TEXAS-INL WATER,0,0,0,0,0
50,DISTRICT 1,45,46,49,48,47
51,DISTRICT 2,30,29,29,30,30
52,DISTRICT 3,19,19,16,14,17
53,DISTRICT 4,12,12,12,12,12
54,DISTRICT 5,5,5,3,3,4
55,DISTRICT 6,29,28,28,28,28
56,DISTRICT 7B,1,1,1,2,1
57,DISTRICT 7C,43,40,39,43,41
58,DISTRICT 8,328,330,322,317,324
59,DISTRICT 8A,13,13,14,13,13
60,DISTRICT 9,2,2,2,2,2
61,DISTRICT 10,6,6,5,5,6
62,TOTAL TEXAS,534,532,521,517,526
63,UTAH,6,6,6,8,7
64,VIRGINIA,0,0,0,0,0
65,W VIRGINIA,12,14,15,17,15
66,WASHINGTON,0,0,0,0,0
67,WYOMING,33,33,34,33,33
68,TOTAL UNITED STATES,1075,1075,1050,1059,1065
69,CANADA-LAND,74,181,206,230,173
70,CANADA-OFFSHORE,2,3,3,2,3
71,TOTAL CANADA,76,184,209,232,175
72,GRAND TOTAL,1151,1259,1259,1291,1240
73,NaN,NaN,NaN,NaN,NaN,NaN
74,NOTE: MONTHLY AVERAGES MAY NOT TOTAL DUE TO RO...,NaN,NaN,NaN,NaN,NaN

In [41]:
# 13 is CA Land
# 16 is Colorado
# 63 is Utah
# 67 is Wyoming

CA_avg = df.iloc[13,5]

# df.iloc[13]

8

In [42]:
sheets

['Jan 19',
 'Dec 18',
 'Nov 18',
 'Oct 18',
 'Sep 18',
 'Aug 18',
 'Jul 18',
 'Jun 18',
 'May 18',
 'Apr 18',
 'Mar 18',
 'Feb 18',
 'Jan 18',
 'Dec 17',
 'Nov 17',
 'Oct 17',
 'Sep 17',
 'Aug 17',
 'Jul 17',
 'Jun 17',
 'May 17',
 'Apr 17',
 'Mar 17',
 'Feb 17',
 'Jan 17',
 'Dec 16',
 'Nov 16',
 'Oct 16',
 'Sep 16',
 'Aug 16',
 'Jul 16',
 'Jun 16',
 'May 16',
 'Apr 16',
 'Mar 16',
 'Feb 16',
 'Jan 16',
 'Dec 15',
 'Nov 15',
 'Oct 15',
 'Sep 15',
 'Aug 15',
 'Jul 15',
 'Jun 15',
 'May 15',
 'Apr 15',
 'Mar 15',
 'Feb 15',
 'Jan 15',
 'Dec 14',
 'Nov 14',
 'Oct 14',
 'Sep 14',
 'Aug 14',
 'Jul 14',
 'Jun 14',
 'May 14',
 'Apr 14',
 'Mar 14',
 'Feb 14',
 'Jan 14',
 'Dec 13',
 'Nov 13',
 'Oct 13',
 'Sep 13',
 'Aug 13',
 'Jul 13',
 'Jun 13',
 'May 13',
 'Apr 13',
 'Mar 13',
 'Feb 13',
 'Jan 13',
 'Dec 12',
 'Nov 12',
 'Oct 12',
 'Sep 12',
 'Aug 12',
 'Jul 12',
 'Jun 12',
 'May 12',
 'Apr 12',
 'Mar 12',
 'Feb 12',
 'Jan 12',
 'Dec 11',
 'Nov 11',
 'Oct 11',
 'Sep 11',
 'Aug 11',
 'Jul 11',
 'Jun 11',
 'May 11',
 'Apr 11',
 'Mar 11',
 'Feb 11',
 'Jan 11',
 'Dec 10',
 'Nov 10',
 'Oct 10',
 'Sep 10',
 'Aug 10',
 'Jul 10',
 'Jun 10',
 'May 10',
 'Apr 10',
 'Mar 10',
 'Feb 10',
 'Jan 10',
 'Dec 09',
 'Nov 09',
 'Oct 09',
 'Sep 09',
 'Aug 09',
 'Jul 09',
 'Jun 09',
 'May 09',
 'Apr 09',
 'Mar 09',
 'Feb 09',
 'Jan 09',
 'Dec 08',
 'Nov 08',
 'Oct 08',
 'Sep 08',
 'Aug 08',
 'Jul 08',
 'Jun 08',
 'May 08',
 'Apr 08',
 'Mar 08',
 'Feb 08',
 'Jan 08',
 'Dec 07',
 'Nov 07',
 'Oct 07',
 'Sep 07',
 'Aug 07',
 'Jul 07',
 'Jun 07',
 'May 07',
 'Apr 07',
 'Mar 07',
 'Feb 07',
 'Jan 07',
 'Dec 06',
 'Nov 06',
 'Oct 06',
 'Sep 06',
 'Aug 06',
 'Jul 06',
 'Jun 06',
 'May 06',
 'Apr 06',
 'Mar 06',
 'Feb 06',
 'Jan 06',
 'Dec 05',
 'Nov 05',
 'Oct 05',
 'Sep 05',
 'Aug 05',
 'Jul 05',
 'Jun 05',
 'May 05',
 'Apr 05',
 'Mar 05',
 'Feb 05',
 'Jan 05',
 'Dec 04',
 'Nov 04',
 'Oct 04',
 'Sep 04',
 'Aug 04',
 'Jul 04',
 'Jun 04',
 'May 04',
 'Apr 04',
 'Mar 04',
 'Feb 04',
 'Jan 04',
 'Dec 03',
 'Nov 03',
 'Oct 03',
 'Sep 03',
 'Aug 03',
 'Jul 03',
 'Jun 03',
 'May 03',
 'Apr 03',
 'Mar 03',
 'Feb 03',
 'Jan 03',
 'Dec 02',
 'Nov 02',
 'Oct 02',
 'Sep 02',
 'Aug 02',
 'Jul 02',
 'Jun 02',
 'May 02',
 'Apr 02',
 'Mar 02',
 'Feb 02',
 'Jan 02',
 'Dec 01',
 'Nov 01',
 'Oct 01',
 'Sep 01',
 'Aug 01',
 'Jul 01',
 'Jun 01',
 'May 01',
 'Apr 01',
 'Mar 01',
 'Feb 01',
 'Jan 01',
 'Dec 00',
 'Nov 00',
 'Oct 00',
 'Sep 00',
 'Aug 00',
 'Jul 00',
 'Jun 00',
 'May 00',
 'Apr 00',
 'Mar 00',
 'Feb 00',
 'Jan 00']